* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

/*===========  navbar css part start ======*/

.header-part {
    margin: 0px 25px auto;
    padding: 0px 25px;
}

nav.contain {
    padding: 15px 15px;
    font-family: acumin-pro, sans-serif;
    text-align: center;
    line-height: 1em;
    white-space: nowrap;
}

.img-fluid {
    max-width: 100%;
}

nav.contain ul li a {
    display: inline-block;
}

nav.contain ul li a {
    color: #FFF;
    text-decoration: none;
    font: 15px;
    font-weight: 300;
    margin: 0px 10px;
    padding: .618em 0;
    position: relative;
    z-index: 0;
    cursor: pointer;
    letter-spacing: 0em;
    text-transform: lowercase;
}

nav.pullUp ul li a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #ff5745;
    opacity: 1;
    transition: all 0.3s;
}

nav.pullUp ul li a:hover {
    color: #fff !important;
    z-index: 1;
}

nav.pullUp ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 0.69;
}

nav.pullUp ul li a:hover:after {
    height: 100%;
}

img.navpic {
    vertical-align: middle;
    width: 250px;
}

/*===========  navbar css part end ======*/

/*================ footer part start================== */

.footer-area {
    background: #133466;
    color: #a3a3a3;
}

div.contains {
    padding-top: 10px;
    font-family: acumin-pro, sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

div.contains p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

div.contains p a {
    display: inline-block;
}

div.contains p a {
    color: #FFF;
    text-decoration: none;
    font: 15px;
    font-weight: 300;
    margin: 0px 5px;
    padding: 0.698em 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    letter-spacing: 0em;
    text-transform: lowercase;
}

/* Pull up  */

div.pull p a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #ff5745;
    opacity: 1;
    transition: all 0.3s;
}

div.pull p a:hover {
    color: #fff !important;
    z-index: 1;
}

div.pull p a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 0.69;
}

div.pull p a:hover:after {
    height: 100%;
}

div.middle-footer p {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-left: 42%;
}

div.side-footer p {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

div.side-footer p a {
    background: red;
    padding: 10px;
    border-radius: 50%;
    color: #a3a3a3;
    cursor: pointer;
}

div.side-footer p fab {
    color: #a3a3a3;
}

/* responsive */

@media(max-width:540px) {}

@media(max-width:767px) {
    div.middle-footer p {
        margin-bottom: 1rem;
    }
    div.side-footer p {
        text-align: right;
        margin-bottom: 2rem;
    }
}

@media(min-width:767px) and (max-width:991px) {
    div.middle-footer p {
        margin-bottom: 1rem;
    }
    div.side-footer p {
        text-align: right;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }
    div.middle-footer p {
        padding-left: 62%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }
    div.middle-footer p {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 5rem;
        padding-left: 32% !important;
    }
}