{% extends 'header_footer.html' %}
{% load static %}
{% block title %}
<title></title>
{% endblock title %}

{% block container %}


		<div class="background-shadow"></div>
		<!--Body grid system start-->
		<div class="container-fluid remove-padding">
			<!-- Homepage Upper Image Start-->
			<div class="row margin slideanim">
				<div class="col-sm-7">
					<img src="{% static 'images/Surgeon_Smile_Locum.jpg' %} " class="img-fluid change-height" />
				</div>
				<div class="col-sm-4">
					<div class="box-apply employers_top">
						<div class="row margin">
							<h1 class="header1">
							Your partner in care
							</h1>
						</div>
						<div class="row margin">
							<p class="para">
								We identify, screen and place qualified locum tenens with an emphasis on finding the right fit for your unique requirements. Choose us to recruit hard-to-fill roles, and count on us to handle all the details with professionalism and transparency every step of the way.
							</p>
							
						</div>
						
					</div>
					
					
				</div>
			</div>
			<!-- Homepage Upper Image End-->
			<!-- Service Offerings Start-->
			<div class="row slideanim margin">
				<div class="col-sm-6 margin-left-employers" >
					<img src="{% static 'images/Woman-doctor-shaking-hands-with-female-nurse.jpg' %}" class="img-fluid"/>
				</div>
				<div class="col-sm-4 margin-left">
					<div style="padding-top: 12%">
						<div class="row margin">
							<h1 class="header1 slim-font" style="color: #143567;">
							Service Offerings
							
							</h1>
						</div>
						<div class="row text-decoration-employers" style="padding-bottom: 3%;">
							Locums Tenens
						</div>
						<div class="row" style="padding-bottom: 3%;">
							
							Full service recruiting to fill short- or long-term openings on your staff.
							
						</div>
						<div class="row text-decoration-employers" style="padding-bottom: 3%;">
							PRN
						</div>
						<div class="row" style="padding-bottom: 3%;">
							
							Identify a network of local providers for ‘as needed’ shift work or coverage.
							
						</div>
						<div class="row text-decoration-employers" style="padding-bottom: 3%;">
							Advanced Practice Providers
						</div>
						<div class="row" style="padding-bottom: 3%;">
							
							Turn to us for PAs, NPs, and CRNAs
							
						</div>
					</div>
				</div>
			</div>
			
			<!-- Service Offerings End-->
			<!-- Specialties Start-->
			<div class="row" style="padding-bottom: 2%;background: white">
				
			</div>
			<div class="row " style="padding-bottom: 2%;background: white">
				<div class="row slideanim" style="width:100%">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-4 offset-sm-4">
								<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Specialties</h1>
							</div>
						</div>
						<div class="row" style="padding-top:2% ">
							<div class="col-sm-6 offset-sm-3">
								<h1 style="font-weight: 2;font-size: 17px; text-align: center;" >Let Locums Choice meet your hiring needs across all major medical specialties.  </h1>
							</div>
						</div>
						
						<div class="row" style="margin-top:6%;padding-left: 7%;padding-right: 2%;">
							<div class="col-sm-3">
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Anesthesiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Cardiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Critical Care
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									CRNA
									</i>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Gastroenterology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Hospital Medicine
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									OB/GYN
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Oncology
									</i>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Anesthesiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Cardiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Critical Care
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									CRNA
									</i>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Anesthesiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Cardiology
									</i>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									<i class="fas fa-check">
									Critical Care
									</i>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Specialties End-->
			<!-- Choosing Locums Choice  Start-->
			<div class="row" style="padding-bottom: 2%;background: white">
			</div>
			<div class="row" style="padding-bottom: 2%;background: #F3F4F7">
				<div>
					<div class="slideanim">
						<div class="row" style="padding-top:6% ">
							<div class="col-sm-4 offset-sm-4">
								<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Choosing Locums Choice</h1>
							</div>
						</div>
						<div class="row" style="padding-top:2% ">
							<div class="col-sm-6 offset-sm-3">
								<h1 style="font-weight: 2;font-size: 17px; text-align: center;" >You have a lot of choice in locum tenens staffing. Here are three reasons to work with Locums Choice. </h1>
							</div>
						</div>
						<div class="row" style="padding-top:2%;">
							<div class="col-sm-3 offset-sm-1">
								<h1 class="text-decoration-employers" style="font-weight: 2;font-size: 16px;" >
								Staffing Know-How
								</h1>
								<h1 style="font-weight: 2;font-size: 16px;" >We know locums tenens. From leadership to delivery, our team is comprised of individuals who have committed their careers to medical staffing. When you talk to us, you’re talking to peers who understand your challenges, your jargon, and your specific hiring requirements. Our knowledge helps us work as a true partner to you in supporting your staffing goals. </h1>
							</div>
							<div class="col-sm-3 offset-sm-1">
								<h1 class="text-decoration-employers" style="font-weight: 2;font-size: 16px;" >
								Delivery Expertise
								</h1>
								<h1 style="font-weight: 2;font-size: 16px;" >Providers need to be licensed, credentialed and onsite and ready to work when you need them. We have trained delivery professionals at every step of the process to take care of all the details—so you don’t have any surprises. </h1>
							</div>
							<div class="col-sm-3 offset-sm-1" style="padding-right: 2%">
								<h1 class="text-decoration-employers" style="font-weight: 2;font-size: 16px;">
								Quality Providers
								</h1>
								<h1 style="font-weight: 2;font-size: 16px;" >We provide A++ occurrence malpractice insurance through Medical Protective to recruit and retain top providers and protect our clients. MedPro individually underwrites and approves each provider, and we credential our locum tenens following the standards of the National Association of Locum Tenens Organizations (NALTO). We conduct regular quality surveys to ensure your satisfaction and we’ll replace any provider that doesn’t meet your standards.</h1>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- Choosing Locums Choice End-->
			<!--Homepage lower watermark Start-->
			<div class="row" style="padding-bottom: 3%;background: white;">
			</div>
			
			<div class="row">
				<div class="col-sm-4" style="z-index: -3">
					<img src="{% static 'images/locums-choice-watermark.png' %} " class="lower-common-img">
				</div>
				<div class="col-sm-7 offset-sm-1 slideanim" style="z-index: 1;margin-top: 6%">
					<div class="row" >
						<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Staffing Request </h1>
					</div>
					<div class="row" style="margin-top: 4%">
						Need coverage or want to learn more about our staffing services for employers? Contact us.
					</div>
					<div class="row" style="margin-top: 4%">
						<a class="buttonPurple text-uppercase" href="{% url 'contact_us' %}">Get in Touch</a>
					</div>
				</div>
			</div>
			<!--Homepage lower watermark end-->
			
		</div>
		<!--Body grid system end-->
		{% endblock container %}
