{% extends 'header_footer.html' %}
{% load static %}
{% block title %}
<title>About Us — Locums Choice  </title>
{% endblock title %}
{% block container %}
		<!--Body grid system start-->
		<div class="container-fluid">
			<!-- About Upper Image Start-->
			<div class="row margin slideanim">
				<div class="col-sm-7 margin-left" style="z-index: -1;text-align: right">
					<img src="{% static 'images/Locums_Choice_About_Us.jpeg' %}" class="img-fluid change-height"/>
				</div>
				<div class="col-sm-4 margin-right">
					<div class="box-apply tenens-left">
						<div class="row margin">
							<h1 class="header1">
							About Us
							</h1>
						</div>
						<div class="row margin">
							<p class="para">
								We’re healthcare staffing professionals committed to giving you more choice. Whether you are an employer or locum tenens provider, we believe you’ll choose us for our superior service and experience. We’re passionate about what we do—and it shows every day.
							</p>
							
						</div>
						
					</div>
				</div>
			</div>
			<!-- AboutUS Upper Image End-->
			<!-- AboutUS Our team Image Start-->
			<div class="row emptybox"></div>
			<div class="row slideanim margin">
				<div class="col-sm-4 offset-sm-5">
					<h1 class="header1" style="color: #143567">Our Team</h1>
				</div>
			</div>
			<div class="row slideanim">
				<div style="background:#F3F4F7;z-index: -99;height: 100%;width: 100%;
					position: absolute;margin-top: 14%;">
					
				</div>
				<div class="col-sm-3" style="margin-left: 6.5%;">
					<div class="card" style="width: 100%;border: none;background: #F3F4F7;">
						<img class="card-img-top" src="{% static 'images/Josh_Campbell_Principal_Locums_Choice.jpg' %}" alt="Card image cap">
						<div class="card-body">
							<h5><u>Name</u></h5>
							<h7 class="text-uppercase" style="color: grey;font-size: 12px;font-weight: bold;"
							>Position</h7>
							<p class="card-text" style="white-space: pre-line;font-size: 12px">As President of Locums Choice, Josh directs all sales, marketing and operations for the company. Previously, he was Director for Healthcare IT Leaders, a consulting and workforce solutions firm serving hospitals and health systems. Prior to that, he was Vice President, Business Development for Locum Leaders, a high-growth physician locum tenens firm, now part of AMN Healthcare, the largest healthcare staffing company in the U.S.
							Josh began his career in staffing with Jackson and Coker, a Jackson Healthcare company. He holds a B.A. from Elon University.</p>
							<h5><u style="color: black;font-size: 13px;">LinkedIn →</u></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3" style="margin-left: 6.5%;">
					<div class="card" style="width: 100%;border: none;background: #F3F4F7">
						<img class="card-img-top" src="{% static 'images/Josh_Campbell_Principal_Locums_Choice.jpg' %}" alt="Card image cap">
						<div class="card-body">
							<h5><u>Name</u></h5>
							<h7 class="text-uppercase" style="color: grey;font-size: 12px;font-weight: bold;"
							>Position</h7>
							<p class="card-text" style="white-space: pre-line;font-size: 12px">As President of Locums Choice, Josh directs all sales, marketing and operations for the company. Previously, he was Director for Healthcare IT Leaders, a consulting and workforce solutions firm serving hospitals and health systems. Prior to that, he was Vice President, Business Development for Locum Leaders, a high-growth physician locum tenens firm, now part of AMN Healthcare, the largest healthcare staffing company in the U.S.
							Josh began his career in staffing with Jackson and Coker, a Jackson Healthcare company. He holds a B.A. from Elon University.</p>
							<h5><u style="color: black;font-size: 13px;">LinkedIn →</u></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3" style="margin-left: 6.5%;">
					<div class="card" style="width: 100%;border: none;background: #F3F4F7">
						<img class="card-img-top" src="{% static 'images/Josh_Campbell_Principal_Locums_Choice.jpg' %}" alt="Card image cap">
						<div class="card-body">
							<h5><u>Name</u></h5>
							<h7 class="text-uppercase" style="color: grey;font-size: 12px;font-weight: bold;"
							>Position</h7>
							<p class="card-text" style="white-space: pre-line;font-size: 12px">As President of Locums Choice, Josh directs all sales, marketing and operations for the company. Previously, he was Director for Healthcare IT Leaders, a consulting and workforce solutions firm serving hospitals and health systems. Prior to that, he was Vice President, Business Development for Locum Leaders, a high-growth physician locum tenens firm, now part of AMN Healthcare, the largest healthcare staffing company in the U.S.
							Josh began his career in staffing with Jackson and Coker, a Jackson Healthcare company. He holds a B.A. from Elon University.</p>
							<h5><u style="color: black;font-size: 13px;"><a href="#">LinkedIn →<a></u></h5>
						</div>
					</div>
				</div>
				
			</div>
			
			
			<!-- About us our team End-->
			
			<!-- Healthcare Staffing Leaders  Start-->
			<div class="row emptybox">
				
			</div>
			<div class="row emptybox">
				<div class="row slideanim" style="width:100%">
					<div class="col-sm-12" style="padding-top: 6%;">
						<div class="row">
							<div class="col-sm-4 offset-sm-4">
								<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Healthcare Staffing Leaders</h1>
							</div>
						</div>
						<div class="row" style="padding-top:2% ">
							<div class="col-sm-6 offset-sm-3">
								<h1 style="font-weight: 2;font-size: 17px; text-align: center;" >Locums Choice is part of our family of staffing companies that meet a variety of critical workforce needs for hospitals and healthcare organizations. Learn more about our sister companies below. </h1>
							</div>
						</div>
						
						<div class="row" style="margin-top:6%;padding-left: 7%;padding-right: 2%;">
							<div class="col-sm-4" style="padding-right: 3%;">
								<div class="row" style="padding-bottom: 1%;">
									<u>Healthcare IT Leaders</u>
								</div>
								<div class="row">
									Consulting and workforce solutions for enterprise IT needs, including EHR, ERP, CRM and RCM.
									<a href="www.healthcareitleaders.com">www.healthcareitleaders.com</a>
								</div>
								
							</div>
							<div class="col-sm-4">
								<div class="row" style="padding-bottom: 1%;">
									<u>PAC Leaders</u>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									Physician-led clinical provider solutions for Skilled Nursing Facilities and Post-Acute Care.
									<a href="www.pacleaders.com">www.pacleaders.com</a>
								</div>
								
							</div>
							<div class="col-sm-4" style="padding-left: 3%;">
								<div class="row" style="padding-bottom: 1%;">
									<u>The Crevalle Group</u>
								</div>
								<div class="row" style="padding-bottom: 1%;">
									Contract and permanent staffing and consulting for Salesforce.com and related solutions.
									<a href="www.thecrevallegroup.com">www.thecrevallegroup.com</a>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Healthcare Staffing Leaders End-->
			<!--Caring Choice start-->
			<div class="row" style="padding-bottom: 2%">
				
			</div>
			<div class="row">
				<div class="col-sm-12" style="z-index: -3">
					<img src="{% static 'images/Screen_Shot.png' %} " style="width: 100%;">
				</div>
				<div class="col-sm-5 offset-sm-1 slideanim" style="z-index: 1;margin-top: -38%">
					<div class="box-apply-leftImplement">
						<H2>Caring Choice</H2>
						<h6>Giving back in the communities where we live and work is a central tenet of our company.  Our Caring Choice program commits a percentage of our annual profits to charitable giving, and we offer employees paid time off for volunteering.</h6>
					</div>
				</div>
			</div>
			<!--Caring Choice end -->
			<!--Homepage lower watermark Start-->
			<div class="row emptybox">
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<img src="{% static 'images/locums-choice-watermark.png' %}" class="lower-common-img">
				</div>
				<div class="col-sm-7 offset-sm-1 slideanim lowerImageSideContent">
					<div class="row" style="margin-right:0px" >
						<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Contact Us </h1>
					</div>
					<div class="row" style="margin-top: 4%;margin-right:0px">
						Let’s get started. If you have workforce needs or want more information about Locums Choice, contact us today.
					</div>
					<div class="row" style="margin-top: 4%;margin-right:0px">
						<a class="buttonPurple text-uppercase" href="{% url 'contact_us' %}">Get in Touch</a>
					</div>
				</div>
			</div>
			<!--Homepage lower watermark end-->
			
		</div>
		
		<!--Body grid system end-->
		{% endblock container %}
