{% extends 'header_footer.html' %}
{% load static %}
{% block title %}
<title>Locum Tenens Benefits &mdash; Locums Choice </title>
{% endblock title %}
{% block container %}
		
	
		<div class="background-shadow" style="background:#F3F4F7"></div>
		<!--Body grid system start-->
		<div class="container-fluid">
			<!-- TenensPage Upper Image Start-->
			<div class="row margin slideanim">
				<div class="col-sm-7 margin-left" style="z-index: -1;text-align: right">
					<img src="{% static 'images/iStock-904793412.jpg' %}" class="img-fluid change-height"/>
				</div>
				<div class="col-sm-4 margin-right">
					<div class="box-apply tenens-left">
						<div class="row margin">
							<h1 class="header1">
							Choosing Locum Tenens
							</h1>
						</div>
						<div class="row margin">
							<p class="para">
								With so many choices for locum tenens, choose an agency partner who listens and is committed to finding the right fit. One who offers superior protection with occurrence malpractice insurance. And one who delivers personalized service in every interaction. That’s Locums Choice.
							</p>
							
						</div>
						
					</div>
				</div>
				
				
			</div>
			<!-- Tenens Upper Image End-->
			<!-- Tenens Middle Image Start-->
			<div class="row slideanim margin">
				<div class="col-sm-6 " >
					<img src="{% static 'images/Benefits+of+Locum+Tenens.jpg' %}" class="img-fluid"/>
				</div>
				<div class="col-sm-4 margin-left-tenens">
					<div style="padding-top: 12%">
						<div class="row margin">
							<h1 class="header1 slim-font" style="color: #143567;">
							Benefits of Locum Tenens
							
							</h1>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							
							<i class="fas fa-check">
							<h9 class="text-normal">Earn supplemental income</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Travel while getting paid</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Ease transition from full-time practice</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Provide care in underserved areas</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Work when and where you choose</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Experience different practice settings</9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Reduce administrative headaches</h9>
							</i>
						</div>
						<div class="row" style="padding-bottom: 2%;">
							<i class="fas fa-check">
							<h9 class="text-normal">Focus on patient care</h9>
							</i>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<!-- Tenens Middle Image End-->
			<!-- Tenens working with locum choice  Start-->
			<div class="row margin"></div>
			<div class="row margin slideanim" style="background:white;color:#143567;">
				<div class="col-sm-4 offset-sm-1">
					<div class="row margin">
						<h1 class="header1">Working with Locums Choice</h1>
					</div>
					<div class="row margin">
						<p class="para" style="color:black;">Our team offers decades of experience matching locum tenens providers to great jobs nationwide. We understand the unique challenges of locum tenens work and offer specialized, 24/7 support to make your experience enjoyable and hassle-free. We know you have options, but here’s why Locums Choice is the right choice.</p>
					</div>
				</div>
				<div class="col-sm-5 offset-sm-1">
					{% for key, value in ques.items %}
						<div class="row" style="margin-left: .1%">
							<div class="expander">
								{{key}}
							</div>
							<div class="slider">
								<br>
								{{value}}
								<br>
							</div>
							
						</div>
						
						<div class =row>
							<div style="padding-bottom: 1%"></div>
						</div>
					{% endfor %}
					
				</div>
			</div>


			<!-- Tenens working with locum choice End-->
			
			<!-- Tenens Lower Middle  Start-->
			<div class="row" style="padding-bottom: 2%">
				
			</div>
			<div class="row margin" style="background: #EEECE4">
				<div>
					<div class="slideanim">
						<div class="row" style="padding-top:6% ">
							<div class="col-sm-8 offset-sm-2">
								<h1 style="font-weight: 2;font-size: 3vmax ;text-align: center;color: #143567" >Work in multiple states with IMLC</h1>
							</div>
						</div>
						<div class="row" style="padding-top:2% ">
							<div class="col-sm-8 offset-sm-2">
								<h1 style="font-weight: 2;font-size: 1.2vmax; text-align: center;" >Ask our recruiters if you qualify for the Interstate Medical Licensure Compact (IMLC). The Compact aims to relieve physician shortages by making it easier for qualified physicians to practice in multiple states, if they meet agreed upon eligibility requirements.  </h1>
							</div>
						</div>
						<div class="row" style="padding-top:2% ">
							<div class="col-sm-8 offset-sm-2">
								<h1 style="font-weight: 2;font-size: 1.2vmax;text-align: center;" >The Application process uses your existing information submitted in your state of principal license (SPL). The SPL will verify your information and conduct a fresh background check. Once qualified you may select any number of Compact states in which to practice.</h1>
							</div>
						</div>
					</div>
					<div class="slideanim">
						<div class="row" style="padding-top:4% ">
							<div class="col-sm-8 offset-sm-5">
									<a class="buttonPurple text-uppercase" href="apply">Apply Now</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- Tenens lower Middle End-->
			
			<!--Homepage lower watermark Start-->
			<div class="row" style="padding-bottom: 3%;background: white;">
			</div>
			
			<div class="row">
				<div class="col-sm-4" style="z-index: -3">
					<img src="{% static 'images/locums-choice-watermark.png' %} " class="lower-common-img">
				</div>
				<div class="col-sm-7 offset-sm-1 slideanim lowerImageSideContent">
					<div class="row" >
						<h1 style="font-weight: 2;font-size: 40px ;text-align: center;color: #143567" >Apply </h1>
					</div>
					<div class="row" style="margin-top: 4%">
						Start your personal profile to connect to a recruiter and stay on top of our latest openings. 
					</div>
					<div class="row" style="margin-top: 4%">
						<a class="buttonPurple text-uppercase" href="{% url 'locum_apply' %}">Get Started</a>
					</div>
				</div>
			</div>
			<!--Homepage lower watermark end-->
		</div>
		
		<!--Body grid system end-->
		<script>
			$(function () {
				$('.expander').click(function ()
				{
					$(this).next('div').slideToggle();
					
					$(this).parent().siblings().children().next().slideUp();
					return false;
				});
			});
			
		</script>
		{% endblock container %}
